*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables Principales*/
:root {
    /*Colores*/
    --color-bg: #f4f4f4;
    --color-texto: #333;
    --color-primary: #2ecc71;
    --color-completed: #009688;
    /*espaciado*/
    --spacing-sm: 10px;
    --spacing-md: 16px;
    --spacing-lg: 20px;
}

/*Tipografia base*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-texto);
}

/*Layouth*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-lg);
}

/*Header*/

.header{
    text-align: center;
    margin-bottom: var(--spacing-lg);
}

.header__title {
    margin-bottom: var(--spacing-md);
}

.header__content {
    font-size: 0.9rem;
    color: #666;
}

.header__img {
    width: 20%;
    padding: var(--spacing-md);
}

/*Formulario*/

.form__fieldset {
    margin-bottom: var(--spacing-md);
    padding: var(--spacing-sm);
}

.form__legend {
    font-size: 2rem;
    font-weight: bold;
}

.form {
    margin-bottom: var(--spacing-lg);
}

.form__label {
    display: block;
    margin-top: var(--spacing-md);
    font-weight: bold;
}

.form__input{
    display: block;
    width: 100%;
    padding: var(--spacing-md);
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__button {
    width: 100%;
    padding: var(--spacing-sm);
    background-color: var(--color-primary);
    border: none;
    color: var(--color-bg);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: var(--spacing-sm);
}

.form__button:hover {
    background-color: #27ae60;
    font-weight: bold;
}

/*Materias*/
.materias {
    margin-bottom: var(--spacing-lg);
    padding: var(--spacing-sm);
    border: 1px solid #ccc;
    border-radius: var(--spacing-md);
}

.materias__title {
    text-align: center;
    margin-bottom: var(--spacing-md);
}

.materias__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: var(--spacing-sm);
    gap: 10px;
}

.materia {
    margin-bottom: var(--spacing-sm);
    width: 100%;
    min-height: 120px;
    border: 1px solid #ccc;
    border-radius: 0 0 20px 20px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}


.materia:hover {
  transform: translateY(-3px);
}


.materia__header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 5px 10px;
  background-color: var(--color-primary);
}


.materia__star {
  width: 24px;
  height: 24px;
  opacity: 0.1;
  transition: opacity 0.2s ease;
  cursor: pointer;
}


.materia__star--active {
  opacity: 1;
}


.materia__title {
    color: white;
}

.materia__content {
    font-size: 3rem;
    margin-top: var(--spacing-md);
    font-weight: bold;
    text-align: center;
}




